/* Top page only styles */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.marquee {
  display: flex;
  gap: 48px;
  white-space: nowrap;
  animation: marquee 18s linear infinite;
}
